<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.Contact"/>
      <class name="com.pom.AddtoCart"/>
      <class name="com.test.LoginPage"/>
      <class name="com.test.AboutUs"/>
      <class name="com.base.BaseTest"/>
      <class name="com.test.HomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
